*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

.WelcomeSize{
  font-size: 60px;
}

.borderLogin{
  border-right: 2px solid #000;
}

.eyeIcon{
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
nav-link {
  color: black !important;
}

nav-link:active {
color: blue !important;
}

.searchReferralWidth{
  width: 300px;
}

.searchInput::placeholder{
 text-align: center;
}