*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

.WelcomeSize{
  font-size: 60px;
}

.borderLogin{
  border-right: 2px solid #000;
}

.eyeIcon{
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.nav-link {
  color: black; 
}

.nav-link.active {
  color: #2c65fb;
}

.nav-link:hover {
  color: black;
}

.nav-link.active:hover {
  color: #2c65fb; 
}

.searchReferralWidth{
  width: 300px;
}

.searchInput::placeholder{
 text-align: center;
}

.logout{
  color: black;
}
.logout:hover{
  color: #2c65fb; 
}

.ref_nav_link{
  color: black !important;
}

.ref_nav_link.active{
  color: blue !important;
  border-bottom: 5px solid blue;
}